@use '@angular/material' as mat;

mat-tab-group {
  @include mat.tabs-overrides((
          container-height: 64px,
  ));
}

.bottom-right-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.bottom-tabs {
  position: fixed;
  bottom: 0;

  z-index: 2;

  width: 100vw;
  height: 100%;

  ::ng-deep .mat-mdc-tab-body-wrapper {
    flex: 1 1 100%;
  }

  ::ng-deep .mat-mdc-tab {
    padding: 4px;
  }
}

.vertical-tab {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
  //padding: 4px;
}

.top-level {
  position: fixed;
  z-index: 3;
}

.bottom-button {
  position: fixed;
  z-index: 2;
  bottom: calc(64px + 24px);
  right: 16px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}