@use '@angular/material' as mat;

mat-tab-group {
  @include mat.tabs-overrides((
          container-height: 64px,
  ));
  background-color:  var(--mat-sys-surface-container);
}

.bottom-right-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.bottom-tabs {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}

.vertical-tab {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
  padding: 4px;
}
