<app-content-container>
    <app-register-action/>
<!--  this is working-->
<!--  @switch (tabs.selectedIndex) {-->
<!--    @case (0) {-->
  <!--      <app-register-action/>-->
<!--    }-->
<!--  }-->
</app-content-container>

<mat-tab-group #tabs class="bottom-tabs" headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="vertical-tab">
        <mat-icon aria-label="Remote control tab">sports_esports</mat-icon>
        Control
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label aria-label="Schedule actions">
      <div class="vertical-tab">
        <mat-icon>schedule</mat-icon>
        Schedule
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="vertical-tab">
        <mat-icon aria-label="Register new action">app_registration</mat-icon>
        Register
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!--<button class="bottom-right-fab" mat-fab aria-label="Icon to add new control">-->
<!--  <mat-icon>add</mat-icon>-->
<!--</button>-->
