<h2 mat-dialog-title>Record IR payload</h2>

<mat-dialog-content>
  <app-surface title="This is explanation" subtitle="">
  </app-surface>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-flat-button>
    Connect
  </button>
</mat-dialog-actions>
<!--<mat-dialog-content>-->
<!--  <div class="named-progress-bar">-->
<!--    <mat-progress-bar #progressBar [mode]="mode()" [value]="progressValue()"></mat-progress-bar>-->
<!--    <p>{{ indeterminateProgressState() }}</p>-->
<!--  </div>-->

<!--</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--  <button mat-button mat-stroked-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-flat-button-->
<!--          [mat-dialog-close]="true"-->
<!--          [disabled]="progressBar.value !== 100">-->

<!--    Connect-->
<!--  </button>-->
<!--</mat-dialog-actions>-->

