<app-surface title="Controls" subtitle="">
  <div style="width: 100%; height: 50px; background-color: red"></div>
  <div style="width: 100%; height: 50px; background-color: red"></div>
  <div style="width: 100%; height: 50px; background-color: red"></div>
  <div style="width: 100%; height: 50px; background-color: red"></div>
  <div style="width: 100%; height: 50px; background-color: red"></div>
  <div style="width: 100%; height: 50px; background-color: red"></div>
  <div style="width: 100%; height: 50px; background-color: red"></div>
  <div style="width: 100%; height: 50px; background-color: red"></div>
</app-surface>

<button class="bottom-right-fab" mat-fab aria-label="Icon to add new control">
  <mat-icon>add</mat-icon>
</button>
