form {
  display: flex;
  width: 100%;

  flex-direction: column;

  gap: 2rem;
  padding: 1rem;
  align-items: start;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

mat-card-actions {
  display: flex;
  width: 100%;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;

  gap: 0.5rem;
}

.field-group {
  display: flex;

  width: 70%;
  padding: 1rem;
  flex-direction: column;

  background-color: var(--mat-sys-surface-container-high);
  border-radius: var(--mat-sys-corner-extra-large);
}

mat-tab-group {
  padding: 1rem;
  background-color: var(--mat-sys-surface-container-high);
  border-radius: var(--mat-sys-corner-extra-large);
}

.tab-content-wrapper {
  padding: 1rem;
}