<app-surface title="Register action" subtitle="Register shortcut for sending mqtt request">
  @if (this.step === "info") {
    <form [formGroup]="basicActionInfoFormGroup">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Action name</mat-label>
          <input #nameInput matInput formControlName="actionName"/>
          <mat-hint align="start">{{ nameInput.value.length }}/150</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Topic</mat-label>
          <input #topicInput matInput formControlName="mqttTopic"/>
          <mat-hint align="start">{{ topicInput.value.length }}/150</mat-hint>
        </mat-form-field>

        <mat-checkbox formControlName="mqttRetain">Retain message</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="onProceed()" [disabled]="basicActionInfoFormGroup.invalid">
          Proceed
        </button>
      </mat-card-actions>
    </form>
  } @else {
    <mat-tab-group>
      <mat-tab label="Payload">
        <div class="tab-content-wrapper">
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Payload</mat-label>
            <textarea #payloadInput matInput [formControl]="payloadFormControl"></textarea>
            <mat-hint align="start">JSON string</mat-hint>
            <mat-hint align="end">{{ payloadInput.value.length }}/650</mat-hint>
          </mat-form-field>
        </div>
      </mat-tab>

      <mat-tab label="IR Payload">
        <div class="tab-content-wrapper">
          <div class="device-field">
            <mat-form-field appearance="outline">
              <mat-label>IR device id</mat-label>
              <input matInput>
              <mat-hint align="start">E.g. /topic/deviceid/</mat-hint>
            </mat-form-field>

            <button mat-flat-button>
              Connect
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="controls-pane">
      <button mat-stroked-button>
        Cancel
      </button>
      <button mat-flat-button>
        Register
      </button>
    </div>
  }

</app-surface>
