<mat-stepper orientation="vertical"
             [linear]="true"
             (selectionChange)="this.onStepChange($event)"
             #stepper

>
  <mat-step [stepControl]="this.basicInfoForm">
    <form [formGroup]="this.basicInfoForm">
      <ng-template matStepLabel>Fill out action metadata</ng-template>
      <div class="field-group">
        <mat-form-field appearance="outline">
          <mat-label>Display name</mat-label>
          <input #nameInput matInput formControlName="actionName"/>
          <mat-hint align="start">{{ nameInput.value.length }}/150</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Topic</mat-label>
          <input #topicInput matInput formControlName="mqttTopic"/>
          <mat-hint align="start">{{ topicInput.value.length }}/150</mat-hint>
        </mat-form-field>

        <mat-checkbox formControlName="mqttRetain">Retain message</mat-checkbox>

      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="this.payloadForm">
    <form [formGroup]="this.payloadForm">
      <ng-template matStepLabel>Configure Payload</ng-template>
      <mat-tab-group [(selectedIndex)]="this.payloadTabIndex">
        <mat-tab label="JSON">
          <div class="flex-vertical">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Payload (JSON format)</mat-label>
              <textarea #payloadInput matInput formControlName="mqttPayload" rows="5"></textarea>
            </mat-form-field>
            <mat-hint align="start">Enter valid JSON format</mat-hint>
          </div>
        </mat-tab>
        <mat-tab label="IR">
          <div class="flex-vertical">
            @switch (this.deviceState) {
              @case ("disconnected") {
                <mat-form-field appearance="outline" class="full-width">

                  <mat-label>IR Device ID</mat-label>
                  <input #irDeviceIdInput matInput formControlName="irDeviceId"/>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="recordIrSignal()"
                        [disabled]="irDeviceIdInput.value.length === 0">
                  Start recoding
                </button>
              }
              @case ("connecting") {
                <mat-spinner></mat-spinner>
                <mat-hint><small>Waiting for device to be ready</small></mat-hint>
              }
              @case ("connected") {
                <div class="flex-vertical">
                  <mat-icon color="primary">check_circle</mat-icon>
                  <p>Device is now posting data to
                    <b>{{ this.payloadForm.controls['irDeviceId'].value }}/data</b>.</p>
                  <button mat-raised-button
                          color="accent"
                          matTooltip="Press the button when you want to capture the signal."
                          (click)="captureIrSignal()">
                    Capture Signal
                  </button>
                </div>
              }
            }
          </div>
        </mat-tab>
      </mat-tab-group>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stopRecording()" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Register</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="resetStepper(stepper)">Reset</button>
      <button mat-button (click)="registerAction(stepper)">Register</button>
    </div>
  </mat-step>
</mat-stepper>