<mat-card appearance="outlined">
  <mat-card-header class="flex-horizontal flex-between">
    <mat-card-title>{{ this.actionGroup.displayName }}</mat-card-title>
    @if (this.cardMode === "control") {
      <button mat-icon-button (click)="this.toggleCardMode()">
        <mat-icon>edit</mat-icon>
      </button>
    } @else {
      <button mat-icon-button
              class="delete-button"
              (click)="this.deleteGroup()"
              matTooltip="Delete action group">
        <mat-icon>delete</mat-icon>
      </button>
    }

  </mat-card-header>

  @switch (this.cardMode) {
    @case ("control") {
      <mat-card-content>
        <app-action-controls [displayableActions]="this.displayableActions"/>
      </mat-card-content>
    }
    @case ("edit") {
      <mat-card-content>
        <app-action-table [displayableActions]="this.displayableActions"
                          [sortFunction]="this.sortBySequenceNumberAndActivation"/>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-stroked-button
                (click)="this.toggleCardMode()">
          Cancel
        </button>
        <button mat-flat-button
                (click)="this.updateGroup()">
          Save
        </button>
      </mat-card-actions>
    }
  }

</mat-card>