mat-card {
  gap: 1rem;
}

mat-card-actions {
  gap: 0.5rem;
}

mat-icon-button {
  margin-left: auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.size-48 {
  font-size: 48px;
}

.delete-button {
  color: red;
}