<app-content-container>
  <app-surface title="Schedule actions" subtitle="Choose action group to run on daily basis">
    <form [formGroup]="this.scheduleFormGroup" (ngSubmit)="onSubmit(form)" #form=ngForm>
      <div class="flex-vertical">
        <mat-form-field appearance="outline">
          <mat-label>Action group</mat-label>

          <mat-select formControlName="actionGroup" >
            @for (group of this.roomControlContextService.getRoomActionGroups()(); track group.id) {
              <mat-option [value]="group">{{ group.displayName }}</mat-option>
            }
          </mat-select>

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pick a time (UTC + 1)</mat-label>
          <input matInput
                 [matTimepicker]="timePicker"
                 formControlName="time">
          <mat-timepicker-toggle matIconSuffix [for]="timePicker"/>
          <mat-timepicker #timePicker/>
        </mat-form-field>

        <mat-chip-listbox
          aria-label="Select days of the week"
          formControlName="selectedDays"
          multiple>
          <mat-chip-option
            *ngFor="let day of days; index as i"
            [value]="i">
            {{ day }}
          </mat-chip-option>
        </mat-chip-listbox>
        <button mat-button
                type="submit"
                [disabled]="this.scheduleFormGroup.invalid"
        >Schedule</button>
      </div>
    </form>
  </app-surface>

  <app-surface title="Schedules" subtitle="">

    <div *ngIf="this.schedules().length  === 0">
      <div class="flex-vertical">
        <mat-icon color="primary">sentiment_dissatisfied</mat-icon>
        <p><small>At the moment you don't have any scheduled actions</small></p>
      </div>
    </div>

    <table *ngIf="this.schedules().length > 0" mat-table [dataSource]="this.schedules()" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Group name</th>
        <td mat-cell *matCellDef="let schedule"> {{ schedule.displayName }} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let schedule">
          {{ schedule.hours | number: '2.0' }}:{{ schedule.minutes | number: '2.0' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef> Days </th>
        <td mat-cell *matCellDef="let schedule"> {{this.mapDays(schedule)}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let schedule">
          <button mat-button (click)="deleteSchedule(schedule)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </app-surface>
</app-content-container>